<a href="https://colab.research.google.com/github/anjali5thjun/anjalipythonlearning/blob/master/20th_march.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
num1=187
num2=100
if num1 > num2:
    print("num1 is greater than num2")

num1 is greater than num2

In [0]:
x=["apple","grapes","orange"]
for apple in x:
    print(x)

['apple', 'grapes', 'orange']
['apple', 'grapes', 'orange']
['apple', 'grapes', 'orange']

In [0]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [0]:
x=["7","132","100"]
for num in x:
    print(x)

['7', '132', '100']
['7', '132', '100']
['7', '132', '100']

In [0]:
x=["7","132","100"]
for num in x:
    if num == "132":
        print(num)

132

In [0]:
x="132"
print(x[0])
print(x[1])
print(x[2])

1
3
2

In [0]:
x=["1","2","3"]
y=["apple","mango","banana"]
for x in y:
    for y in x:
        print(y,x)

a apple
p apple
p apple
l apple
e apple
m mango
a mango
n mango
g mango
o mango
b banana
a banana
n banana
a banana
n banana
a banana

In [0]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "oreange":
    break
  print(x)

apple
banana
cherry

In [0]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "cheery":
    continue
  print(x)

apple
banana
cherry

In [0]:
vegetables=["lady finger","chllie","carrot"]
taste=["none","bitter","sweet"]
for x in vegetables:
    for y in taste:
        print(x,y)

lady finger none
lady finger bitter
lady finger sweet
chllie none
chllie bitter
chllie sweet
carrot none
carrot bitter
carrot sweet

In [0]:
for x in vegetables:
    print(x)

lady finger
chllie
carrot

In [0]:
vegetables=["lady finger","chllie","carrot"]
for x in vegetables:
        print(x)

lady finger
chllie
carrot

1
3
2
231
x is lesser than y

Enter the number121
121
121
Number is palidrom