<a href="https://colab.research.google.com/github/anjali5thjun/anjalipythonlearning/blob/master/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def splitArr(arr,n,k):
    for i in  range(0,k):
        x  = arr[0]
        for j in range(0,n-1):
            arr[j] = arr[j+1]
            
        arr[n-1] = x
        
        
arr =[12 ,10,5,6,52,36]
n = len(arr)
p = 2
splitArr(arr,n,p)
for i in range(0,n):
    print(arr[i])

5
6
52
36
12
10

In [2]:
dict = {'Name': 'Zara', 'Age': 7};
print("Length : %d" % len (dict))

Length : 2

In [0]:
def dictionary():
    key_value ={}
    
    key_value[apple]="fruit"
    key_value[orange]="fruit"
    key_value[grapes]="fruit"
    key_value[mango]="fruit"
    
    print("Task1Task 2:-\nKeys and Values sorted in",  
            "alphabetical order by the key  ")
    for i in sorted(key_value):
        print ((i, key_value[i]), end =" ") 
        
        def main():
            dictionary()
            
            if _name_ =="_main_":
                main()

In [0]:
import collections 

defd = collections.defaultdict(lambda:'key not found')

defd['a'] = 1
defd['b'] = 2

print ("The value associated with 'a' is : ",end="") 
print(defd['a'])

print ("The value associated with 'c' is : ",end="") 
print (defd['c'])

The value associated with 'a' is : 1
The value associated with 'c' is : key not found

In [0]:
import random  as rn
dict ={}

x, y, z = 10, 20, 30
dict[x, y, z] = x + y - z; 

x,y,z = 5,4,2
dict[x,y,z] = x+y-z;

print(dict)

{(10, 20, 30): 0, (5, 4, 2): 7}

In [0]:
# Python3 program to 
# find remainder when 
# all array elements 
# are multiplied. 

# Find remainder of arr[0] * arr[1] 
# * .. * arr[n-1] 
def findremainder(arr, lens, n): 
	mul = 1

	# find the individual 
	# remainder and 
	# multiple with mul. 
	for i in range(lens): 
		mul = (mul * (arr[i] % n)) % n
        
	
	return mul % n 

# Driven code 
arr = [ 100, 10, 5, 25, 35, 14 ] 
lens = len(arr) 
n = 11

# print the remainder 
# of after multiple 
# all the numbers 
print( findremainder(arr, lens, n)) 

# This code is contributed by "rishabh_jain".

TabError: inconsistent use of tabs and spaces in indentation (<ipython-input-12-cdc6815ba0e4>, line 16)

In [0]:
def countX(lst,X):
    count = 0
    for ele in lst: 
        if(ele == X):
            count = count+1
            return count
        
lst = [5, 6, 5, 10, 5, 20, 10, 5, 5]
x = 5
print('{} has occurred {} times'.format(x, countX(lst, x)))

5 has occurred 1 times

In [0]:
def Cloning(li1): 
    li_copy = li1[:] 
    return li_copy 
 
li1 = ["anjali,parth,pihu,"] 
li2 = Cloning(li1) 
print("Original List:", li1) 
print("After Cloning:", li2)

Original List: ['anjali,parth,pihu,']
After Cloning: ['anjali,parth,pihu,']

In [0]:
def multiplyList(myList) : 
      
     
    result = 1
    for x in myList: 
         result = result * x  
    return result  
      

list1 = [1, 8, 2]  
list2 = [9, 5, 2] 
print(multiplyList(list1)) 
print(multiplyList(list2))

16
90

In [0]:
list1 =[12,45,23,33,57]

list1.sort()

print("Smallest element is:", *list1[:1])

Smallest element is: 12

In [0]:
list1 =[57,44,57,56,77,43,56]

list1.sort()

print("Largest element is",*list1[:-1])

Largest element is 43 44 56 56 57 57

In [0]:
list1 =[99,22,43,56,98,]

list1.sort()

print("Largest element is",*list1[:-2])

Largest element is 22 43 56

In [0]:
def returnsum(mydict):
    
    sum = 0
    for i in myDict:
        sum = sum +myDict[i]
        
        return sum
    
    dict = {'a': 100, 'b':200, 'c':300} 
    print("sum :",returnsum(dict))

In [0]:
def returnSum(myDict): 
      
    sum = 0
    for i in myDict: 
        sum = sum + myDict[i] 
      
    return sum
  
 
dict = {'a': 156, 'b':223, 'c':876} 
print("Sum :", returnSum(dict))

Sum : 1255

In [0]:
test_dict ={"Apple":23,"orange":43,"grapes":56}
print("The dictionary after remove is :" + str(test_dict))

del test_dict['orange'] 

print("The dictioary after remove is :" + str(test_dict))

The dictionary after remove is :{'Apple': 23, 'orange': 43, 'grapes': 56}
The dictioary after remove is :{'Apple': 23, 'grapes': 56}

In [0]:
def printEvenWord(s):
    s = s.split(' ')
    for i in s:
        if(len(i)%2 == 0):
            print("EvenWord",i)
        else:
            print("oddWord",i)
            
s = "i am anjali"
printEvenWord(s)

oddWord i
EvenWord am
EvenWord anjali

In [0]:
def printWord(v):
    n = len(v)
    print(n)
    count = 0
    #print(v[0])
    for i in range(n):
        print(v[i])
        if(v[i]=='a' or v[i]=='e' or v[i]=='i' or v[i]=='o' or v[i]=='u'):
                                                                 count = count+1
                                                                 print(count)   
                                                                 #print("This word is vowel")
                                                                 
        else:
            print("this is not vowel character")
                                                                 
    if(n == count):
        print("**********Vowel word**************")
    else:
        print("************not Vowl word*************")
        
v ="aeeeeo"
printWord(v)

6
a
1
e
2
e
3
e
4
e
5
o
6
**********Vowel word**************

In [0]:
thisset = {"apple", "banana", "cherry","apple","banana"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [0]:
def printUniqueWord(s):
    s = s.split(" ")
    setword = { }
    for i in s:
        setword.add("i")
    print(setword)
    
s = "i am anjali anjali"
printUniqueWord(s)

AttributeError: 'dict' object has no attribute 'add'

In [0]:
def printEvenNumber(s):
    for num in s:
        
        if(num % 2 == 0):
            print(num, end = " ")
        else:
            print(num, end = " ") 
        
s = [12,11,23,54,57,85,34,97]
printEvenNumber(s)

12 11 23 54 57 85 34 97

In [0]:
list1 = [10, 21, 4, 45, 66, 93] 
  
for num in list1: 
      
    if num % 2 == 0: 
       print(num, end = " ")

10 4 66

In [0]:
def printOddNumber(s):
    for num in s:
        
        if(num % 2 == 0):
            print(num, end =" ")
        else:
            print(num, end =" ")
           
s =[43,54,66,78,43,23,45,67,99]
printOddNumber(s)

43 54 66 78 43 23 45 67 99

In [0]:
start, end = 34, 89
  
for num in range(start, end + 1): 
      
    if num % 2 == 0: 
        print(num, end = " ")

34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88

In [0]:
start , end = 92,43

for num in range(start,end+1):
    
    if num % 2 != 0:
        print(num,end = " ")

In [0]:

start, end = 56,87

for num in range(start, end + 1):
    
 
 if num % 2 != 0:
        print(num, end = " ")

57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87

In [0]:
list1 = [10, 21, 4, 45, 66, 93, 1,54,78,98] 
  
even_count, odd_count = 0, 0
  
for num in list1: 
      
    if num % 2 == 0: 
        even_count += 1
  
    else: 
        odd_count += 1
          
print("Even numbers in the list: ", even_count) 
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  6
Odd numbers in the list:  4

In [0]:
list1 = [11, -21, 0, 45, 66, -93,56,-23] 
  
for num in list1: 
      
    if num >= 0: 
       print(num, end = " ")

11 0 45 66 56

In [0]:
list1 = [11, -21, 0, 45, 66, -93,56,-23,-689] 
  
for num in list1: 
      
    if num <= 0: 
       print(num, end = " ")

-21 0 -93 -23 -689

In [0]:
start, end = -4, 40
  
for num in range(start, end + 1): 
      
    if num >= 0: 
        print(num, end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [0]:
list1 = [10, -21, 4, -45, 66, -93, 1] 
  
pos_count, neg_count = 0, 0
  
for num in list1: 
      
    if num >= 0: 
        pos_count += 1
  
    else: 
        neg_count += 1
          
print("Positive numbers in the list: ", pos_count) 
print("Negative numbers in the list: ", neg_count)

Positive numbers in the list:  4
Negative numbers in the list:  3

In [0]:
list1 = [11, 5, 17, 18, 23, 50,45,97,77]  
  
for ele in list1: 
    if ele % 2 == 0: 
        list1.remove(ele) 
  
print("New list after removing all even numbers: ", list1)

New list after removing all even numbers:  [11, 5, 17, 23, 45, 97, 77]

In [0]:
def Remove(tuples): 
    tuples = [t for t in tuples if t] 
    return tuples 
  
tuples = [(),('seeta'),(),("geeta"),(),("ram"),(),()] 
print(Remove(tuples))

['seeta', 'geeta', 'ram']

In [0]:
start, end = -4,56
  
for num in range(start, end + 1): 
      
    if num <= 0: 
        print(num, end = " ")

-4 -3 -2 -1 0

In [0]:
start, end = -4,56
  
for num in range(start, end + 1): 
      
    if num >= 0: 
        print(num, end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56

In [0]:
def printNumber(s):
    thisdict = dict()
    for i in s:
        count = 0
        for j in s:
            
            if(i == j):
                count = count+1
        thisdict[i] = count
    print(thisdict)
                
s =[12,13,22,41,11,12,12,11,34,12,11] 
printNumber(s)

{12: 4, 13: 1, 22: 1, 41: 1, 11: 3, 34: 1}

In [0]:
def printWord(v):
    n = len(v)
    print(n)
    count = 0
    for i in range(n):
        print(v[i])
        if(v[i]=='a' or v[i]=='e' or v[i]=='i' or v[i]=='o' or v[i]=='u'):
                                                                 count = count+1
                                                                 print(count)   
                                                                 
        else:
            print("this is not vowel character")
                
        
v ="banana is a fruit"
printWord(v)

17
b
this is not vowel character
a
1
n
this is not vowel character
a
2
n
this is not vowel character
a
3

this is not vowel character
i
4
s
this is not vowel character

this is not vowel character
a
5

this is not vowel character
f
this is not vowel character
r
this is not vowel character
u
6
i
7
t
this is not vowel character

In [0]:
def printNumber(s):
    for i in s:
        if(len(i)<9):
            print('i less than 9',i)
        else:
            print('i greater than 9',i)
            
s =["anjali","parth","pihu","parmeshwari dayal","pooja"]
printNumber(s)

i less than 9 anjali
i less than 9 parth
i less than 9 pihu
i greater than 9 parmeshwari dayal
i less than 9 pooja

In [0]:
def printNumber(s):
    n = len(s)
    for i in s:
        if(len(i)<8):
            
            print('i',i)
            
s = "aanjali"
printNumber(s)

i a
i a
i n
i j
i a
i l
i i

In [0]:
def printNumber(s):
    n = len(s)
    for i in s:
        if(len(i)<n):
            #remove(i[0])
            print('i',i[1:8])
s = "aanjali"
printNumber(s)

i
i
i
i
i
i
i

In [0]:
test = "aanjali"
print(test[1:8])

anjali

In [0]:
def sort_list(list1, list2): 
  
    zipped_pairs = zip(list2, list1) 
  
    z = [x for _, x in sorted(zipped_pairs)] 
      
    return z 
      
  
x = ["a", "b", "c", "d", "e", "f", "g", "h", "i"] 
y = [ 0,   1,   1,    0,   1,   2,   2,   0,   1] 
  
print(sort_list(x, y)) 
  
x = ["a", "e", "e", "k", "s", "f", "o", "r", "g", "e", "e", "k", "s"] 
y = [ 0,   1,   1,    0,   1,   2,   2,   0,   1] 
  
print(sort_list(x, y))

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']
['a', 'k', 'r', 'e', 'e', 'g', 's', 'f', 'o']

In [0]:
def printNumber(s):
    p = set(s)
    s = {'0','1'}
    
    if s == p or s == {'0'} or s == {'1'}:
        print("yes")
        
    else:
        print('no')
        
        
s = "11010001001101010"
printNumber(s)

yes

In [0]:
def printNumber(s):
    p = set(s)
    s = {'0','1'}
    
    if s == p or s == {'0'} or s == {'1'}:
        print("yes")
        
    else:
        print('no')
        
        
s = "11012401871121019"
printNumber(s)

no

In [0]:
def closeMatch(pattern,word):
    
    
    print(get_close match(word,pattern))
    
    
    
word = 'pineapple'
pattern =['pine','puppy','pass']
closeMatch(pattern,word)

SyntaxError: invalid syntax (<ipython-input-29-34af0f3677ec>, line 4)

In [0]:
def UncommonWords(A, B): 
  
    count = {} 
      
    for word in A.split(): 
        count[word] = count.get(word, 0) + 1
      
    for word in B.split(): 
        count[word] = count.get(word, 0) + 1
  
    return [word for word in count if count[word] == 1] 
  
A = "hello,hello"
B = "my name is rita hello,hello "
  
print(UncommonWords(A, B))

['my', 'name', 'is', 'rita']

In [0]:
def Replace(str1): 
    maketrans = str1.maketrans 
    final = str1.translate(maketrans(', .', '., ')) 
    return final 
  
string = "anjali.pooja,pihu,nita"          
print(Replace(string))

anjali pooja.pihu.nita

In [0]:
from itertool import permutation

def permutation(num):
    permlist = permutation(num)
    
    for perm in list(permlist):
        print(".join(perm)")
        
num ='234'
permutation(num)

ModuleNotFoundError: No module named 'itertool'

In [0]:
def Merge(dict1, dict2): 
    return(dict2.update(dict1)) 
      
dict1 = {'a': 16, 'b': 5} 
dict2 = {'d': 2, 'c': 9} 
  
print(Merge(dict1, dict2)) 
  
print(dict2)

None
{'d': 2, 'c': 9, 'a': 16, 'b': 5}

In [0]:
Gerry = { "name":"Gerry", 
         "assignment" : [80, 50, 40, 20], 
         "test" : [21,94], 
         "lab" : [78.20, 77.20] 
       } 
 Hina = { "name":"Harry", 
         "assignment" : [17, 98, 32, 30], 
         "test" : [77, 12], 
         "lab" : [78.20, 77.20] 
       }  
         
Robin = { "name":"Jarry", 
     "assignment" : [34, 23, 45, 30], 
     "lab" : [78.53, 46.20] 
     "test" : [34, 45],     
   }     
 
       def get_average(marks): 
    total_sum = sum(marks) 
    total_sum = float(total_sum) 
    return total_sum / len(marks) 


    def calculate_total_average(students): 
    assignment = get_average(students["assignment"]) 
    test = get_average(students["test"]) 
    lab = get_average(students["lab"]) 
          
        return (0.1 * assignment +
            0.7 * test + 0.2 * lab) 
  
 def assign_letter_grade(score): 
    if score >= 90: return "A"
    elif score >= 80: return "B"
    elif score >= 70: return "C"
    elif score >= 60: return "D"
    else : return "E"
    
    def class_average_is(student_list): 
    result_list = [] 
  
 for student in student_list: 
        stud_avg = calculate_total_average(student) 
        result_list.append(stud_avg) 
        return get_average(result_list) 
    
    students =[Gerry,Hina,Robin]
    for i in students:
        print(i["name"])
        print("Average marks of %s is : %s " %(i["name"], 
                         calculate_total_average(i))) 
                         
        print("Letter Grade of %s is : %s" %(i["name"], 
    assign_letter_grade(calculate_total_average(i)))) 
        print()
        
        class_av = class_average_is(students) 

        print( "Class Average is %s" %(class_av)) 
        print("Letter Grade of the class is %s " 
        %(assign_letter_grade(class_av)))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 19)

In [0]:
def sub(x,y):
    return x-y

def sub(x,y):
    return x+y

def sub(x,y):
    return x*y

def sub(x,y):
    return x/y
print("select option")
print("1.sub")
print("2.Add")
print("3.Mul")
print("4.Divide")

choice =input("Enter the number(1/2/3/4)")
x = 6
y = 3
num1 =int(input("Enter first num:"))
num2 =int(input("Enter second num:"))
print(x,y)

select option
1.sub
2.Add
3.Mul
4.Divide
Enter the number(1/2/3/4)1
Enter first num:1
Enter second num:1
6 3

In [0]:
from collections import Counter 
  
def commonElement(ar1,ar2,ar3): 
     ar1 = Counter(ar1) 
     ar2 = Counter(ar2) 
     ar3 = Counter(ar3) 
     
     resultDict = dict(ar1.items() & ar2.items() & ar3.items()) 
     common = [] 
      
     for (key,val) in resultDict.items(): 
          for i in range(0,val): 
               common.append(key) 
  
     print(common) 
  
if __name__ == "__main__": 
    ar1 = [1,2,34,56,32,]
    ar2 = [1,56,22,5,33,2]
    ar3 = [2,43,99,56,1]
    commonElement(ar1,ar2,ar3)

[56, 1, 2]

In [0]:
from collections import Counter 
  
def find_dup_char(input): 
  
    
    WC = Counter(input) 
    j = -1
      
      
    
    for i in WC.values():
        j = j + 1
        if( i > 1 ):
            print WC.keys()[j], 
  
    input = 'apple'
    find_dup_char(input)

SyntaxError: invalid syntax (<ipython-input-17-5999bfee0029>, line 14)

In [0]:
def allAnagram(input):
    dict = {} 
  
    
    for strVal in input:
        key = ''.join(sorted(strVal)) 
          
        
        if key in dict.keys(): 
            dict[key].append(strVal) 
        else: 
            dict[key] = [] 
            dict[key].append(strVal) 
  
     output = "" 
     for key,value in dict.iteritems():
            output = output + ' '.join(value) + ' '
  
     return output 
  
if __name__ == "__main__": 
    input=['bat', 'god', 'sat', 'bod', 'act'] 
    print allAnagram(input)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 15)

In [0]:
from collections import Counter 
  
def checkAnagram(num1,num2): 
  
    
    bin1 = bin(num1)[2:] 
    bin2 = bin(num2)[2:] 
  
    zeros = abs(len(bin1)-len(bin2)) 
    if (len(bin1)>len(bin2)): 
         bin2 = zeros * '0' + bin2 
    else: 
         bin1 = zeros * '0' + bin1 
  
    
    dict1 = Counter(bin1) 
    dict2 = Counter(bin2) 
  
    if dict1 == dict2: 
         print('Yes') 
    else: 
         print('No') 

if __name__ == "__main__": 
    num1 = 8
    num2 = 4
    checkAnagram(num1,num2)

Yes

In [0]:
from collections import Counter 
  
def checkAnagram(num1,num2): 
  
    # convert numbers into in binary 
    # and remove first two characters of  
    # output string because bin function  
    # '0b' as prefix in output string 
    bin1 = bin(num1)[2:] 
    bin2 = bin(num2)[2:] 
  
    # append zeros in shorter string 
    zeros = abs(len(bin1)-len(bin2)) 
    if (len(bin1)>len(bin2)): 
         bin2 = zeros * '0' + bin2 
    else: 
         bin1 = zeros * '0' + bin1 
  
    # convert binary representations  
    # into dictionary 
    dict1 = Counter(bin1) 
    dict2 = Counter(bin2) 
  
    # compare both dictionaries 
    if dict1 == dict2: 
         print('Yes') 
    else: 
         print('No') 
  
 # Driver program 
if __name__ == "__main__": 
    num1 = 8
    num2 = 4
    checkAnagram(num1,num2)

Yes